body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #4551dd;
}

.screen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 450px;
    margin-top: 240px;
    margin-left: 200px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;

}

.grid-item p {
    margin: 0;
    color: #4551dd;
    font-weight: bold;
}

.grid-container > :first-child {
    grid-column: 1 / 4;
    row-gap: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #4551dd;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.round-bckg-img {
    background-image: url(./img/bbvv.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: -1;
    border-radius: 50%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #f8b001;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.img-container img{
    width: 40px;
    filter: invert(28%) sepia(56%) saturate(2830%) hue-rotate(226deg) brightness(89%) contrast(95%);
}

.grid-cards-with-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    width: 650px;
    margin-top: 100px;
}

.grid-cards-with-img > :first-child, .grid-cards > :first-child {
    grid-column: 1 / 4;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.info-card img{
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.grid-title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.description-body {
    font-style: italic;
}

.description-link {
    font-style: normal;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: blue;
    
}

.img-description {
    font-size: 20px;
    font-weight: bold;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 15px;
    width: 650px;
}

.grid-cards img {
    width: 20px;

}

.grid-cards .grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}

.grid-cards .grid-header {
    text-transform: uppercase;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    width: 100%;
}

.grid-cards .arrow-wrapper {
    display: flex;
    justify-content: right;
    width: 100%;
    filter: invert(28%) sepia(56%) saturate(2830%) hue-rotate(226deg) brightness(89%) contrast(95%);
}

.grid-card > div {
    margin: 10px 0;
}

.grid-cards .grid-info {
    font-size: 12px;
    color: grey;
}

.cards-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(69,81,221);
    background: linear-gradient(180deg, rgba(69,81,221,1) 50%, rgba(248,176,1,1) 50%, rgba(248,176,1,1) 85%, rgba(69,81,221,1) 85%);
}

.numbers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 100px;
    grid-template-rows: repeat(2, 1fr);
    width: 650px;
    gap: 30px;
    color: whitesmoke;
}

.text-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    grid-row: 1/3;
    grid-column: 3;
}

.num-grid-text {
    font-size: 25px;
}

.num-grid-button, .single-card-button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #f8b001;
    border: none;
    color: #4551dd;
    text-transform: uppercase;
    font-size: 12px;
}

.number-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-number {
    font-size: 50px;
    font-weight: bold;
}

.number-subtext {
    font-size: 15px;
} 

.round-bckg-img2 {
    margin-top: 150px;
    width: 650px;
    position: relative;
    height: 550px;
}

.round-bckg-img2 img {
    border-radius: 50%;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.single-card {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 15px;
    aspect-ratio: 1/1;
    width: 300px;
    padding: 30px;
}

.single-card-title {
    font-size: 35px;
    font-weight: bold;
}

.single-card-contents {
    font-size: 20px;

}

.bckg-grad-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    background: linear-gradient(0deg, whitesmoke 40%, rgba(69,81,221,1) 40%);
    width: 100%;
}

.circles-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(1fr, 3);
    width: 650px;
    background-color: whitesmoke;
}

.circles-grid-circle img{
    width: 100px;
}

.circles-grid-icon img{
    width: 50px;
}