.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin: 0px 20px;
}

@media (max-width:1000px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* @media (min-width:1000px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

.products>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.preview-image {
  /* max-width: 200px;
  max-height: 200px; */
  max-width: 100%;
}

.img-container {
  width: 250px;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-button {
  border: none;
  background-color: rgb(140, 192, 63);
  border-radius: 10px;
  width: 90px;
  height: 40px;
  color: whitesmoke;
}

.shop-button:hover {
  cursor: pointer;
  background-color: rgb(124, 169, 57);
}

.info-box>* {
  margin: 5px 0;
}

.info-box {
  width: 200px;
}

a.item-title {
  display: block;
  height: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  text-decoration: none;
}

.item-title:hover {
  cursor: pointer;
}

.sliding-footer {
  box-sizing: border-box;
  padding: 10px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 60px;
  transition: 0.8s;
}

.sliding-footer:hover {
  /* animation-name: sliding;
  animation-duration: 6ms; */
  height: 90px;
  transition: 1s;

  .size-chart {
    filter: opacity(100%);
  }
}

.product-title {
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-price {
  text-align: left;
  color: rgb(191, 0, 0);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}

.size-chart {
  margin-top: 5px;
  text-align: left;
  filter: opacity(0%);
  transition: 0.5s;
}