.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin: 0px 20px;
}

@media (max-width:1000px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* @media (min-width:1000px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

.products>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.img-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-button {
  border: none;
  background-color: rgb(140, 192, 63);
  border-radius: 10px;
  width: 90px;
  height: 40px;
  color: whitesmoke;
}

.shop-button:hover {
  cursor: pointer;
  background-color: rgb(124, 169, 57);
}

.info-box>* {
  margin: 5px 0;
}

.info-box {
  width: 200px;
}

a.item-title {
  display: block;
  height: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  text-decoration: none;
}

.item-title:hover {
  cursor: pointer;
}